{{template "header"}}
<title>
 {{.Title}}
</title>
</head>
<body>
{{template "menu" .}}
<div class="container">
    {{range .Topic}}
    <div class="page-header">
        <h1>
            {{.Title}}
        </h1>
        <h6>
            文章发表于{{.Created}},共有 {{.Views}} 次浏览, {{.ReplyCount}} 条评论
        </h6>
        <p>
            {{.Content}}
        </p>
    </div>
            {{end}}
</div>
<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js">
</script>
<script type="text/javascript" src="/static/js/bootstrap.min.js">
</script>
{{template "footer" .}}
